/**************************************************************
*     ####         #                               #          * Jobuzzle - Copyright All rights reserved
*     ####         #                               #          *
*       ##  #####  ######  #     # ####### ####### #  #####   * @Author: revers
*       ## #     # #     # #     #      #       #  # #     #  *
*       ## #     # #     # #     #     #       #   # #     #  * @Date:   2015-08-08 11:12:49
*       ## #     # #     # #     #    #       #    # #     #  *
*       ## #     # #     # #     #   #       #     # ######   * @Last Modified by:   revers
*  ####### #     # #     # #     #  #       #      # #        *
*  ######   #####   ######  #####  ####### ####### # #######  * @Last Modified time: 2015-11-09 01:22:38
**************************************************************/

div#notification_panel {
	width : 100%;
	height : 100%;
	background-color : $white_color;

	div.noNotif {
		text-align: center;
		width: 100%;
		padding: 10px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
}